body
{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
display: flex;
}
.left_div
{
   background: linear-gradient(90deg, hsla(32, 54%, 79%, 1) 37%, hsla(220, 40%, 58%, 1) 100%);
   background: -moz-linear-gradient(90deg, hsla(32, 54%, 79%, 1) 37%, hsla(220, 40%, 58%, 1) 100%);
   background: -webkit-linear-gradient(90deg, hsla(32, 54%, 79%, 1) 37%, hsla(220, 40%, 58%, 1) 100%);;
   
    width: 50%;
    height: 100vh;
    display: flex;
   
}
.right_div
{
    width: 50%;
    margin: auto;
    padding: 20px;
}
.form
{
    margin-left: 40px;
}
.input_field
{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
}



@media (max-width: 768px) {


    .left_div
    {
     display: none;
    }

    .right_div {
        width: 90%; 
        padding: 15px;
        margin-top: 80px;
    }

    h2 {
        font-size: 1.5em; 
    }

    .input_field {
        font-size: 1em;
    }
}

